<head>
    <!-- External Javascript and CSS -->
    <script src="/static/deps/jquery-2.1.4.min.js"></script>
    <script src="/static/deps/mustache.min.js"></script>
    <script src="/static/deps/materialize.min.js"></script>
    <link rel="stylesheet" href="/static/deps/bootstrap.min.css">
    <link rel="stylesheet" href="/static/deps/materialize.min.css">
    <link rel="stylesheet" href="/static/deps/style.css">

    <!-- App specific Javascript and CSS -->
    <!-- BABYYAK inline Javascript and CSS -->
    <style>
        .circle-image {
            width: 128px;
            height: 128px;
            border-radius: 50%;
        }

        .page-header h1{
            margin-top:5px;
        }
        .page-header{
            margin-top:5px;
        }
        #content{
            width:100%;
            padding:0px;
        }
    </style>
    ${includes}
</head>
<body>
    <nav>
        <div class="nav-wrapper z-depth-1">
            <div class="container">
                <div class="col s12 m12 l12">
                    <span class="brand-logo">
                        <img style="height:40px;width:40px;" 
                            class="circle responsive-img" src=${image}>
                        </img>
                        <span class='title'>${title}</span> - 
                        <small>${description}</small>
                    </span>
                    <!--<ul class="nav">
                        <li><a href="/fat/frontpage">
                            <i class="mdi-action-view-module right"></i>
                                Home
                            </a>
                        </li>
                    </ul>-->
                </div>
            </div>
        </div>
    </nav>

   <div id="content" class="container">
               
        ${html_body}
   </div>
</body>
