<head>
    <!-- External Javascript and CSS -->
    <script src="/static/deps/jquery-2.1.4.min.js"></script>
    <script src="/static/deps/mustache.min.js"></script>
    <link rel="stylesheet" href="/static/deps/bootstrap.min.css">

    <!-- BABYYAK inline Javascript and CSS -->
    <style>
        .circle-image {
            width: 128px;
            height: 128px;
            border-radius: 50%;
        }
        body {
            padding-left:10px;
        }
        .page-header h1{
            margin-top:5px;
        }
        .page-header{
            margin-top:5px;
        }
    </style>
    <script type="text/javascript">
    </script>

    <!-- App specific Javascript and CSS -->
    ${includes}
</head>
<body>
    <div class="page-header">
        <h1>
            <img class="circle-image" src=${image}></img>
            ${title}
            <small>${description}</small>
        </h1>
    </div>
    ${html_body}
</body>
